
.monitoringContainer .datafinder .dataList .line{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3000px;
}

.monitoringContainer .datafinder{
    position: relative;
    height: 360px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
    overflow: auto;
}

.monitoringContainer .datafinder .dataList .line .dataBar .kp{
    width: 50px;
    font-size: 11px;
    height: 15px;
    position: absolute;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #44546a;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    border: 1px solid #bdbdbd;
    color: #44546a;
    user-select: none;
}

.monitoringContainer .datafinder .dataList .line .dataBar{
    flex-grow: 1;
    height: 100%;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

.monitoringContainer .datafinder .dataList .line .dataBar.kp{
    border-bottom: 2px dashed black;
}

.tabPanel{
    padding-bottom: 50px;
}

.paut .componentBox {
    padding: 10px;
    width: calc(100% - 20px);
    height: calc( 100% - 25px - 20px);
}
.paut .componentBox .curDate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 100%;
}

.paut.componentBox .leftBtn,
.paut.componentBox .rightBtn{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.paut.componentBox .leftBtn{
    position: absolute;
    left: 10px;
    top: 50%;
    background-image: url(../../assets/icon/dataexist/left.png);
}

.paut.componentBox .rightBtn{
    position: absolute;
    right: 10px;
    top: 50%;
    background-image: url(../../assets/icon/dataexist/right.png);
}