.railTrackAlignment .componentBox .radioButtons {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.componentBox .trackBox{
    width: 100%;
    height: 100%;
    position: relative;
}

.componentBox .chartBox{
    width: 100%;
    height: 100%;
    position: relative;
}

.componentBox .curLine{
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: red;
    left: 50%;
}